@font-face {
  font-family: "Title";
  src: url("font/Rossanova.woff2") format("woff2"),
  url("font/Rossanova.woff") format("woff");
}
@font-face {
  font-family: "Subtitle";
  src: url("font/Chapaza.woff2") format("woff2"),
  url("font/Chapaza.woff") format("woff");
}
@font-face {
  font-family: "Text";
  src: url("font/AndBasR.woff2") format("woff2"),
  url("font/AndBasR.woff") format("woff");
}
