$palettes: (
        darkblue: #264653,
        darkcyan: (
                base: #2A9D8F,
                light: #A0E7E5
        ),
        yellow: (
                base: #E9C46A,
                light: #FBE7C6,
        ),
        orange: #F4A261,
        red: (
                base: #E76F51,
                dark: #d94f5c,
        )
);
