.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

  // Don't show cursor on mobile devices
  @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
    display: none
  }
}


.cursor--small {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 3px;
  border-radius: 50%;
  z-index: 11000;
  border: .1px solid map-get($palettes, orange);
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
