@import 'utils/vars';

.photo-gallery {

  margin-top: 10vh;

  #image1 {
    background-image: url("../img/1.webp");
    background-size: cover;
  }

  #image2 {
    background-image: url("../img/2.webp");
    background-size: cover;
  }

  #image3 {
    background-image: url("../img/3.webp");
    background-size: cover;
  }



  .gallery {
    grid-area: content;
    justify-self: center;
  }

  .gallery__item {
    position: relative;
    margin: 25vh 0;
    display: grid;
    grid-template-areas: 'gallery-caption' 'gallery-image';
    grid-template-columns: 100%;

    @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
      padding: 0 5vw 0 5vw;
    }
  }

  .gallery__item-img {
    grid-area: gallery-image;
    width: calc(100vw - 30vw);
    max-width: 375px;
    overflow: hidden;
    position: relative;

    @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
      margin-left: auto;
    }
  }

  .gallery__item-imginner {
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    padding-bottom: 140%;
  }

  .gallery__item-caption {
    grid-area: gallery-caption;
    padding: 0 0 1rem;
    color: map-get(map-get($palettes, darkgreen), light);
  }

  .gallery__item-title {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10vw;
    font-family: serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin: 0;
    bottom: 15%;
    pointer-events: none;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    opacity: .7;
  }

  #hunt {
    bottom: 10px;
  }


  .gallery__item-header {
    color: map-get(map-get($palettes, darkgreen), base);
    font-family: ivypresto-headline, serif;
    font-weight: 100;
    font-size: 1.8rem;
    border-bottom: 1px solid #494444;
    padding-bottom: 5px;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  .gallery__item-text {
    font-family: FoundersGroteskLight;
    margin: 0;
  }


  @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
    .gallery__item {
      grid-template-areas: 'gallery-filler gallery-image gallery-caption';
      grid-template-columns: 15vw auto 15vw;
    }
    .gallery__item-caption {
      padding: 0 0 0 1rem;
    }
  }
}
