@import 'utils/mixins';
@import 'utils/vars';
@import 'utils/font';

.line {
    width: 100%;
    max-width: 800px;
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,1);
}

body {
    margin: 0;
    background-color: map-get(map-get($palettes, yellow), light);
}

section {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1, h2 {
    font-family: Title;
}

h3, h4 {
    font-family: Subtitle;
}

p {
    font-family: Text;
}



$sidebar-width: 60px;

$breakpoint-tablet: 768px;
$breakpoint-mobileL: 425px;
$breakpoint-mobileS: 320px;

/* Content -------------- */
.content {
    margin-left: 0;

    @media (min-width: $breakpoint-tablet) {
        margin-left: $sidebar-width;
    }
}


/* Navbar -------------- */
.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10000;

    font-size: 1.15em;
    font-family: subtitle;

      @media (min-width: $breakpoint-tablet) {
          width: $sidebar-width;
          height: 100%;
      }

    /* Progress bar */
    .progress-bar {
        background-color: map-get(map-get($palettes, red), base);
        height: 3px ;
        width: 100%;
        position: fixed;

        @media (min-width: $breakpoint-tablet) {
            height: 100% ;
            width: 3px;
        }
    }


    /* Nav */
    nav {
        flex: 1;
        height: 100%;
        width: 100%;
        @include flexbox($direction: column);
    }

    .menu-container {
        flex: 1;
        @include flexbox($direction: row, $alignItems: center, $justifyContent: center, $grow: 1);

        @media (min-width: $breakpoint-tablet) {
            @include flexbox($direction: column, $alignItems: center, $justifyContent: center, $grow: 1);
        }
    }

    .menu-container_submenu {
        width: 100%;
        height: 100%;
        @include flexbox($alignItems: center, $justifyContent: center, $grow: 1);
        flex: 1;
    }

    @import 'menu_animation';
}

/* Hero ---------------- */
.hero {

    &--container {
        color: map-get(map-get($palettes, darkblue), base);
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: center;
        height: 50%;
        width: 70%;
    }

    &--content {
        text-align: left;
        position: absolute;
        top: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            color: map-get(map-get($palettes, darkblue), base);
            position: relative;
            font-size: 3em;
            margin: 0;

            @media (min-width: $breakpoint-mobileS) {
                font-size: 4em;
            }

            @media (min-width: $breakpoint-mobileL) {
                font-size: 5em;
            }

            @media (min-width: $breakpoint-tablet) {
                font-size: 6em;
            }

        }
        h2 {
            color: map-get(map-get($palettes, darkblue), light);
            position: relative;
            font-size: .8em;
            margin: 0;
            opacity: 1;

            @media (min-width: $breakpoint-mobileS) {
                font-size: 1em;
            }

            @media (min-width: $breakpoint-mobileL) {
                font-size: 1.5em;
            }

            @media (min-width: $breakpoint-tablet) {
                font-size: 2em;
            }

            &:hover {
                .more, .smile {
                    opacity: 1;
                    transition: opacity .5s ease-in-out;
                    transition-delay: .25s;
                }
                .smile {
                    transition-delay: 1.5s;
                }
            }
        }
        .more, .smile {
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }
}

/* Three.js */
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}


