@import 'utils/mixins';
@import 'utils/vars';
@import 'utils/font';
@import 'sidebar';
@import 'story';
@import 'hero';
@import 'date-invite';
@import 'gallery';
@import 'venue';
@import 'rsvp';

body {
    margin: 0;
    background-color: map-get(map-get($palettes, yellow), light);
}


/* Content ------------- */
.content {
    margin-left: 0;
    overflow-y: unset !important;

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
        margin-left: map-get($sidebar, width);
    }

    .content-body {
        width: 100vw;

        @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
            width: calc(100vw - #{map-get($sidebar, width)});
        }
    }
}

main {
    position: absolute;
    z-index: 1
}



/* Three.js */
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/* Needed for dat.GUI */
.dg.ac {
    z-index: 1000 !important;
}


