@import 'utils/vars';

.venue {
  min-height: 50vh;

  @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
    padding-left: 5vw;
  }

  .venue_container {
    @include flexbox($direction: column, $alignItems: center, $justifyContent: center, $grow: 1);
  }

  .venue-title {
    color: map-get(map-get($palettes, darkblue), base);
    font-family: Canela;
    margin: 2vw 0 0;
    width: 20vw;
    font-size: 2.5vw;
    line-height: 2.8vw;

    & p {
      :nth-child(2) {
        color: map-get(map-get($palettes, red), dark);
      }
    }

    @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 76vw;
      font-size: 13.2vw;
      line-height: 12.6vw;
      margin: 7vw 0 0;
    }

    @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 77vw;
      font-size: 13.2vw;
      line-height: 12.6vw;
      margin: 7vw 0 0;
    }

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
      width: 40vw;
      font-size: 7.8vw;
      line-height: 7vw;
      margin: 2vw 0 0;
    }
  }

  .venue-cards {
    width: 100%;
    height: 100%;


    .card__title {
      color: map-get(map-get($palettes, darkblue), base);
      font-family: FoundersGroteskMedium;
      font-size: 0.9vw;

      @media (max-width: map-get($breakpoints, breakpoint-mobileL)) {
        font-size: 4vw;
      }

      @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
        font-size: 3.5vw;
      }
    }

    .card__subtitle {
      color: map-get(map-get($palettes, darkblue), base);
      font-family: Canela;
      margin: 2vw 0 0;
      width: 20vw;
      font-size: 2.5vw;
      line-height: 2.8vw;

      @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
        width: 76vw;
        font-size: 13.2vw;
        line-height: 12.6vw;
        margin: 7vw 0 0;
      }

      @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
        width: 77vw;
        font-size: 13.2vw;
        line-height: 12.6vw;
        margin: 7vw 0 0;
      }

      @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
        width: 20vw;
        font-size: 4vw;
        line-height: 4vw;
        margin: 2vw 0 0;
      }
    }

    .card__link {
      color: map-get(map-get($palettes, darkblue), base);
      margin-top: 2vh;
      font-family: FoundersGroteskLight;

      a {
        background:
                linear-gradient(to right, map-get(map-get($palettes, darkblue), light), map-get(map-get($palettes, darkblue), light)),
                linear-gradient(to right, map-get(map-get($palettes, red), base), map-get(map-get($palettes, red), base));
        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        padding-bottom: 3px;

        cursor: none;
      }

      a:hover,
      a:focus {
        background-size: 0 0.1em, 100% 0.1em;
      }

      a:visited {
        color: map-get(map-get($palettes, darkblue), base);
      }
    }

    .card__text {
      color: map-get(map-get($palettes, darkblue), base);
      margin-top: 2vh;
      font-family: FoundersGroteskLight;
      opacity: .4;

      a {
        cursor: none;
      }

      a:visited {
        color: map-get(map-get($palettes, darkblue), base);
      }
    }

  }



  /* Airport */
  #airport {
    width: 15vw;

    @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 76vw;
      margin-top: 10vw;
    }

    @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 77vw;
      margin-top: 10vh;
    }

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
      width: 20vw;
      position: relative;
      margin-top: unset;
      left: 10vw;
    }

  }

  /* Venue */
  #venue {
    width: 15vw;

    @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 76vw;
      margin-top: 10vw;
    }

    @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 77vw;
      margin-top: 10vh;
    }

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
      width: 20vw;
      position: relative;
      margin-top: unset;
      left: 40vw;
      top: -10vh;
    }

    .card__subtitle {
      & :last-child {
        -webkit-text-stroke-color: #c3c2c0;
        -webkit-text-stroke-width: 1px;
        color: transparent;
        opacity: 0.7;
      }
    }

  }

  /* Lodging */
  #lodging {
    width: 15vw;

    @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 76vw;
      margin-top: 10vw;
    }

    @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 77vw;
      margin-top: 10vh;
    }

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
      width: 20vw;
      position: relative;
      margin-top: unset;
      left: 65vw;
      top: -15vh;
    }

    .card__subtitle {
      & :last-child {
        -webkit-text-stroke-color: #c3c2c0;
        -webkit-text-stroke-width: 1px;
        color: transparent;
        opacity: 0.7;
      }
    }
  }

  /* Registry */
  #registry {
    width: 15vw;

    @media (max-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 76vw;
      margin-top: 10vw;
    }

    @media (min-width: map-get($breakpoints, breakpoint-mobileS)) {
      width: 77vw;
      margin-top: 10vh;
    }

    @media (min-width: map-get($breakpoints, breakpoint-tablet)) {
      width: 20vw;
      position: relative;
      left: 65vw;
      top: -20vh;
    }

  }
}


.line {
  background: map-get(map-get($palettes, red), dark);
  margin: 1vw 0 0;
  width: 1.66667vw;
  height: .22222vw;
  transform: scaleX(1);
  transform-origin: 0 50%;

  @media (max-width: map-get($breakpoints, breakpoint-tablet)) {
    height: 0.5vw;
    width: 6vw;
  }
}

