body {
    margin: 0;
    text-align: center;
    font: 900 120% system-ui, sans-serif;
}

.section {
    height: 100vh;
    display: grid;
    place-items: center;
}
p {
    font-size: 120px;
    margin: 0;
}
h1 {
    margin: 0;
}
