*
{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins';
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
